
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.exit{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    color: #565656;
    cursor: pointer;
}

.content-wrapper{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 15em;
    margin-top: 5em;
    width: 300px;
    position: relative;
}


.input-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.input-field{
    border: 2px solid rgb(145, 145, 145);
    outline: none;
    padding: 8px;
    border-radius: 5px;
    transition: all 100ms linear;
}


.input-field:focus{
    border: 2px solid rgb(83, 158, 255);
    box-shadow:  0px 0px 3px 1px rgb(83, 158, 255);
}


.line{
    border:1px solid lightgray;
    margin: 20px 0;
}

.title{
    margin-bottom: 30px;
}
.title h2{
    margin: 0;
}

.input-label{
    margin-bottom: 5px;
}


.small{
    font-size: .8em;
    color: rgb(109, 109, 109);
    margin: 0 0 20px 0;
}

.small-header{
    font-size: .9em;
    color: rgb(109, 109, 109);
    margin: 0 0 10px 0;
}


.key{
    width: 50px;
}

.create-btn{
    border: none;
    background: var(--googleblue);
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-size: 1.0em;
    transition: background 50ms linear;
}

.create-btn:hover{
    background: #1342b8;
}


.error-box{
    margin: 15px 0 0 0;
}

.error-box p{
    margin: 0
}

.error{
    color: red;
}

.submit-error{
    position: absolute;
    bottom: 12px;
    right: 25px;
}

.submit-error i{
    margin-right: 5px;
}



